.products-grid {
  grid-template-columns: repeat(3, 1fr);
  flex-grow: 1;

  width: 100%;
  grid-column-gap: 1em;

  margin: 0 1em;
}

.products-grid:first-child, .products-grid:last-child {
  margin: 0;
}

.btn-product {
  color: #333;
  background-color: white;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

.btn-product-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.9);
  padding: .5em;
  position: absolute;
  font-weight: bold;
  bottom: 0;
  left: 0;
  right: 0;
}
