:root {
  --columns: 6;
}

.SelectionGrid {
  list-style: none;

  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(var(--columns), 15%);

  grid-column-gap: 2%;
  grid-row-gap: 1em;

  height: 100%;
  align-content: stretch;

  max-width: 100vw;
}

.SelectionItem {

  background: tomato;
  color: white;

  padding: .5em;
  font-weight: bold;
  font-size: 1em;
  text-align: center;

  align-self: stretch;

  word-wrap: break-word;
  overflow-wrap: break-word;
}
