.App {

  padding: 1em;

  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  grid-template-columns: 100%;
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
  "header"
  "main"
  "footer";
}


.App-header {
  grid-area: header;
}

.App-footer {
  grid-area: footer;
  background: #123456;

}
.App-main {
  grid-area: main;
}

.App {
  display: flex;
  flex-direction: collumn;
}

.Mainscreen {
  background: #aacc00;
  flex-grow: 1;
}
