:root {
  --primary: #2d2d2d;
  --secondary: #fff;
  --tertiary: #9edad3;
  --menuSize: 100px;
  --footerSize: 100px;
  --rowSize: 60px;
}

.container {
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: [sidebar] var(--menuSize) [content] auto;
  grid-template-rows: [header] var(--rowSize) [content] auto [footer] var(
      --footerSize
    ) [footer-end];
  background-color: var(--secondary);
}
.header {
  color: var(--primary);
  grid-column: content;
  grid-row: header;
  line-height: var(--rowSize);
  text-align: right;
  padding-right: 1em;
  font-size: 24px;
}
.sidebar {
  grid-column: sidebar;
  grid-row: header / footer-end;
  background-color: var(--primary);
}
.menuButton {
  height: var(--rowSize);
  width: 100px;
  line-height: var(--rowSize);
  text-align: center;
  color: var(--secondary);
  background-color: var(--primary);
  transition: 0.5s ease;
}
.menuButton:hover {
  background-color: var(--secondary);
  color: var(--primary);
  transition: 0.5s ease;
}
.active {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
}
.content {
  width: 100%;
  display: grid;
  padding: 20px;
  margin-top: -20px;
  grid-row: content;
  grid-column: content;
  color: var(--primary);
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}
.tile {
  background: var(--primary);
  color: white;
  padding: 0.5em;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  align-self: stretch;

  word-wrap: break-word;
  overflow-wrap: break-word;
}
.arrow {
  margin-left: calc(-1 * var(--menuSize));
  width: 150px;
  background-color: var(--tertiary);
  height: var(--footerSize);
  display: inline-block;
}
.footer {
  background-color: var(--primary);
  line-height: var(--footerSize);
  grid-row: footer;
  grid-column: content;
}
