
.products {
  padding: 0;
  margin: 0;
  display: grid;

  grid-template-columns: 1fr 1fr;

  height: 100%;
  grid-column-gap: .5em;
  grid-row-gap: .5em;

  height: 100%;
  align-content: stretch;
}

.products > * {
  overflow: hidden;
  max-height: 100px;
  height: 100px;
}

.SelectionGrid-products {
  grid-template-columns: repeat(2, 48%);
  /* grid-gap: 0; */
  flex-grow: 1;

  width: 100%;
  grid-column-gap: 2%;
}

.SelectionGrid-products .SelectionItem {

}
