:root {
  --primary: #2d2d2d;
  --secondary: #efefef;
  --tertiary: #173249;
  --menuSize: 100px;
  --footerSize: 100px;
  --rowSize: 60px;
  --arrowOverflow: 10px;
  --gridCollumns: 6;
  --boards: 5;
}

body {
  background-color: var(--secondary);
}

.wrapper {
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: [sidebar] var(--menuSize) [content] 1fr;
  grid-template-rows:
    [header] var(--rowSize) [content] auto [arrow-overflow] var(--arrowOverflow)
    [footer] var(--footerSize) [footer-end];
  background-color: var(--secondary);
}
.header {
  color: var(--primary);
  grid-column: content;
  grid-row: header;
  line-height: var(--rowSize);
  text-align: right;
  padding-right: 0.5em;
  font-size: 24px;
}
.sidebar {
  grid-column: sidebar;
  grid-row: header / footer-end;
  background-color: var(--primary);
}

.button {
  color: var(--secondary);
  background-color: var(--primary);
  transition: 0.5s ease;
}

.button:hover {
  color: var(--primary);
  background-color: var(--secondary);
  transition: 0.5s ease;
}

.menuButton {
  display: block;
  height: var(--rowSize);
  width: 100px;
  line-height: var(--rowSize);
  text-align: center;
}
.active {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
}
.content {
  padding: 40px;
  margin-top: -30px;
  grid-row: content;
  grid-column: content;
  color: var(--primary);
}

.tilesGrid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--gridCollumns), 1fr);
  grid-template-rows: auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}

.prominentGrid {
  height: 100%;
  display: grid;
  grid-template-rows: [prominent] 1fr [boards] 4fr;
}

.prominentRow {
  height: 100%;
  grid-row: prominent;
  display: flex;
  flex-direction: row;
  padding: 0.25em;
}

.prominentRow > .tile {
  margin: 0.25em;
}

.boardsRow {
  height: 100%;
  grid-row: boards;
  display: grid;
  padding: 0.5em;
  grid-column-gap: 0.5em;
  grid-template-columns: repeat(var(--boards), 1fr);
}

.productsGrid {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.25em;
}

.productsGrid > .categoryRow {
  margin: 0.25em;
}

.categoryRow {
  display: grid;
  grid-template-columns: repeat(var(--gridCollumns), 1fr);
  flex-grow: 1;
  flex-basis: 0;
}

.categoryRow > .tile {
  margin: 0.25em;
}

.boardColumn {
  display: flex;
  flex-direction: column;
}

.boardColumn > .tile {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--primary);
  color: var(--secondary);
  padding: 0.5em;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.arrow {
  margin-left: -100px;
  width: 200px;
  background-color: var(--tertiary);
  height: calc(var(--footerSize) + var(--arrowOverflow));
  display: inline-block;
  transform: skewX(30deg);
  transform-origin: bottom right;
  border-radius: 0 10px 0 0;
  z-index: 5;
}

.arrowContent {
  color: var(--primary);
  line-height: calc(var(--footerSize) + var(--arrowOverflow));
  margin-left: 35px;
  margin-right: 75px;
  transform: skewX(-30deg);
  transform-origin: bottom right;
}

.arrowContent > .franckenLogo {
  color: var(--primary);
  filter: brightness(0) invert(1);
}

.footer {
  background-color: var(--primary);
  line-height: var(--footerSize);
  grid-row: footer / footer-end;
  grid-column: content;
  display: grid;
  grid-template-columns: repeat(1, 3fr) [backButton] var(--footerSize);
}

.footer > .backButton {
  grid-column: backButton;
  text-align: center;
  line-height: var(--footerSize);
}
