:root {
  --primary: rgba(45, 45, 45, 0.9);
  --secondary: rgba(250, 250, 250, 0.9); /* #efefef; */
  --tertiary: #173249;
  --menuSize: 150px;
  --footerSize: 100px;
  --rowSize: 100px;
  --arrowOverflow: 40px;
  --gridCollumns: 6;
  --productsGridCollumns: 3;
  --boards: 5;

  --padding: 40px;

  --sidebar-primary: rgba(45, 45, 45, 1);
  --sidebar-seconary: rgba(250, 250, 250, 1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: var(--secondary);
  user-select: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
}

.wrapper {
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: [sidebar] var(--menuSize) [content] 1fr;
  grid-template-rows:
    [header] var(--rowSize) [content] auto [arrow-overflow] var(--arrowOverflow)
    [footer] var(--footerSize) [footer-end];
  background-color: none;
}
.header {
  color: var(--primary);
  grid-column: content;
  grid-row: header;
  line-height: var(--rowSize);
  text-align: right;
  padding-right: 0.5em;
  font-size: 24px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding);
}

.header-item {
  flex: 1;
  display: flex;
  justify-content: right;
}

.header-item:first-child {
  justify-content: flex-start;
}

.header-item:last-child {
  justify-content: flex-end;
}

.header a {
  color: var(--primary);
}
.sidebar {
  grid-column: sidebar;
  grid-row: header / footer-end;
  background-color: var(--sidebar-primary);
}

.button {
  color: var(--secondary);
  background-color: var(--primary);
  transition: 0.5s ease;
}

.button:hover {
  color: var(--primary);
  background-color: var(--secondary);
  transition: 0.5s ease;
}

.menuButton {
  display: block;
  height: var(--rowSize);
  width: var(--menuSize);
  line-height: var(--rowSize);
  text-align: center;
  background: none;
}
.active {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
}
.content {
  padding: 0 var(--padding);
  grid-row: content;
  grid-column: content;
  color: var(--primary);
}

.tilesGrid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--gridCollumns), 1fr);
  grid-template-rows: auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}

.prominentGrid {
  height: 100%;
  display: grid;
  grid-template-rows: [prominent] 1fr [boards] 4fr;
}

.prominentRow {
  height: 100%;
  grid-row: prominent;
  display: flex;
  flex-direction: row;
  padding: 0.25em;
}

.prominentRow .tile {
  margin: 0.25em;
}

.boardsRow {
  height: 100%;
  grid-row: boards;
  display: grid;
  padding: 0.5em;
  grid-column-gap: 0.5em;
  grid-template-columns: repeat(var(--boards), 1fr);
}

.productsGrid {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.25em;
}

.productsGrid > .categoryRow {
  margin: 0.25em 0.5em;
}

.categoryRow {
  display: grid;
  grid-template-columns: repeat(var(--productsGridCollumns), 1fr);
  flex-grow: 1;
  flex-basis: 0;
}

.categoryRow .tile {
  margin: 0.25em;
}

.boardColumn {
  display: flex;
  flex-direction: column;
}

.boardColumn .tile {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--secondary);
  padding: 0.5em;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.arrow {
  margin-left: calc(-1 * var(--menuSize));
  width: calc(220px + var(--arrowOverflow));
  background-color: var(--tertiary);
  height: calc(var(--footerSize) + var(--arrowOverflow));
  display: inline-block;
  transform: skewX(30deg);
  transform-origin: bottom right;
  border-radius: 0 10px 0 0;
  z-index: 5;
}

.arrowContent {
  color: var(--primary);
  line-height: calc(var(--footerSize) + var(--arrowOverflow));
  margin-left: calc(var(--arrowOverflow) + 15px);
  margin-right: calc(var(--arrowOverflow) + 45px);
  transform: skewX(-30deg);
  transform-origin: bottom right;
}

.arrowContent > .franckenLogo {
  color: var(--primary);
  filter: brightness(0) invert(1);
}

.footer {
  background-color: var(--sidebar-primary);
  line-height: var(--footerSize);
  grid-row: footer / footer-end;
  grid-column: content;
  display: flex;
  justify-content: flex-end;
}

.footer .button {
  text-align: center;
  line-height: var(--footerSize);
  padding: 0 2em;
  font-weight: bold;
}

.footer .cancelButton {
  background-color: #e86161;
}

.footer .buyAllButton {
  background-color: #61e86c;
  color: var(--primary);
}

.footer .buyAllButton:hover {
  color: var(--secondary);
}

.productAmountOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.4);
}

.productAmount {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 50%;
  width: 4em;
  height: 4em;
  line-height: 4em;
}

.productAmount > span {
  color: var(--primary);
}

.locked {
  filter: opacity(25%);
}

/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-github-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-github-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-github-4 {
  fill: #1e6823;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}

.react-calendar-heatmap .activity {
  stroke: black;
  stroke-width: 1px;
}

/* .color-mostly-beer { */
/*   fill: yellow; */
/* } */

/* .color-mostly-soda { */
/*   fill: magenta; */
/* } */

/* .color-mostly-food { */
/*   fill: cyan; */
/* } */
